<h1>This is our show!!!</h1>
<h3>This is: <%= @dog.name %></h3>
<h3>This is a: <%= @dog.breed %></h3>
<h5>They are <%= @dog.age %> years old.</h5>
<%= link_to 'Edit Dog', edit_dog_path %>
<%= link_to 'Delete Dog',dog_path, :method => :delete %>


